<a href="https://colab.research.google.com/github/Nickguild1993/Py_EDA_walks/blob/main/Row_Column_Transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Stack, Unstack, Melt, Pivot exercise

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

What is the male to female ratio on different days of the week?

In [4]:
tips_groupby = tips.groupby(["day", "sex"]).agg({"size" : "sum"})
tips_groupby

             size
day  sex
Thur Male      73
     Female    79
Fri  Male      21
     Female    19
Sat  Male     156
     Female    63
Sun  Male     163
     Female    53

#### Unstack

Moves sub index into columns

In [5]:
unstack_tips = tips_groupby.unstack()
unstack_tips

     size
sex  Male Female
day
Thur   73     79
Fri    21     19
Sat   156     63
Sun   163     53

Can do the same with the days of the week (moving the index to a column)

In [6]:
tips_groupby.unstack(0)

       size
day    Thur Fri  Sat  Sun
sex
Male     73  21  156  163
Female   79  19   63   53

output is multindex columns :/ 
- to fix

In [7]:
# transform them boys
unstack_tips_copy = unstack_tips.copy()

unstack_tips_copy.columns = ["__".join(col).strip() for col in unstack_tips_copy.columns.values]

In [8]:
unstack_tips_copy

      size__Male  size__Female
day
Thur          73            79
Fri           21            19
Sat          156            63
Sun          163            53

In [9]:
unstack_tips_copy["size__Male"] / unstack_tips_copy["size__Female"]

day
Thur    0.924051
Fri     1.105263
Sat     2.476190
Sun     3.075472
dtype: float64

#### Stack

does the opposite- multindex in the columns or a long list of columns and puts them into the index

In [13]:
# here is what it looks like before
tips_groupby.unstack()

     size
sex  Male Female
day
Thur   73     79
Fri    21     19
Sat   156     63
Sun   163     53

now with stack

In [15]:
unstack_tips.stack()

             size
day  sex
Thur Male      73
     Female    79
Fri  Male      21
     Female    19
Sat  Male     156
     Female    63
Sun  Male     163
     Female    53

In [14]:
unstack_tips.stack(0)

sex        Male  Female
day
Thur size    73      79
Fri  size    21      19
Sat  size   156      63
Sun  size   163      53

#### Melting and Pivoting

In [16]:
cheese = pd.DataFrame({"first": ["John", "Terry"],
                       "last": ["Smith", "Wallace"],
                       "height": [5.6, 6.0],
                       "weight" : [126,190]})
cheese

   first     last  height  weight
0   John    Smith     5.6     126
1  Terry  Wallace     6.0     190

**Melt** does stacking in one operation

In [17]:
cheese.melt(id_vars = ["first", "last"])

   first     last variable  value
0   John    Smith   height    5.6
1  Terry  Wallace   height    6.0
2   John    Smith   weight  126.0
3  Terry  Wallace   weight  190.0

Can do the exact same thing with stacking though
except the columns names but obviously ya can change em

In [18]:
cheese.set_index(["first", "last"], inplace = True)
cheese.stack().reset_index()

   first     last level_2      0
0   John    Smith  height    5.6
1   John    Smith  weight  126.0
2  Terry  Wallace  height    6.0
3  Terry  Wallace  weight  190.0

#### Dummy Variables

In [19]:
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [20]:
pd.get_dummies(tips.head(), columns = ["sex"])

   total_bill   tip smoker  day    time  size  sex_Male  sex_Female
0       16.99  1.01     No  Sun  Dinner     2         0           1
1       10.34  1.66     No  Sun  Dinner     3         1           0
2       21.01  3.50     No  Sun  Dinner     3         1           0
3       23.68  3.31     No  Sun  Dinner     2         1           0
4       24.59  3.61     No  Sun  Dinner     4         0           1